﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="disBonjour()">Dis bonjour</button>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        .withUrl("https://localhost:5001/Hubs/testHub")
        .build();

    connection.on("Recevoir", display);
    connection.on("Confirme", function (info) {
        document.write(info);
    })

    function disBonjour() {
        if (connection.connectionStarted) {
            connection.invoke("HelloWorld", "Hello");
        }
    }
    connection.start()
        //  Attend que la connection soit faite pour appeler ce qu'il doit faire
        .then(function () {
            console.log("Yeah");
            // "Hello" est le message transmis
            //connection.invoke("HelloWorld", "Hello");
        })
        .catch(function (error) {
            console.log(error);
        })

    function display(message) {
        alert("==>" + message)
        connection.invoke("Confirmation");
    }
</script>