﻿@page
@model Exemple.Pages.LoginModel
@{
    <h1>Login</h1>

    <input type="text" id="nameInput"/>

    <input type="button" id="loginButton" value="Send" />
    

}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:5001/Hubs/ChatHub").build();

    connection.start().then(function () {
        document.getElementById("loginButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("nameInput").value;
        connection.invoke("Login", user).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });


</script>
